

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/jazzband/pip-tools
    rev: 6.12.1
    hooks:
      - id: pip-compile
        name: pip-compile .server/requirements.in
        args: [./server/requirements.in]
        files: ^.*requirements\.(in|txt)$
      - id: pip-compile
        name: pip-compile .server/requirements-dev.in
        args: [./server/requirements-dev.in]
        files: ^.*requirements-dev\.(in|txt)$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: package-lock.json
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [ --py311-plus ]
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
      - id: autoflake
        args: [ '--in-place', '--remove-all-unused-imports' ]
  - repo: https://github.com/pycqa/isort
    rev: 5.11.4
    hooks:
      - id: isort
        args: [--profile=black, --multi-line=VERTICAL_HANGING_INDENT, --fgw=2]
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        args: ['--line-length','120']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: debug-statements
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length', '120', '--extend-ignore', 'E203']
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        args: [
        --no-strict-optional,
        --ignore-missing-imports,
        --install-types,
        --non-interactive,
        --check-untyped-defs,
        ]
        additional_dependencies:
          - pydantic
