version: "3.3"
services:
  postgres:
    container_name: pgdb
    env_file:
      - ./server/.env
    image: postgres:12
    restart: on-failure

  backend:
    container_name: api
    depends_on:
      - postgres
    env_file:
      - ./server/.env
    build:
      context: ./server
      dockerfile: Dockerfile
    command: sh -c "sleep 5 && python main.py"
    ports:
      - 8080:8080
    expose:
      - 8080
    restart: on-failure
    volumes:
      - ./server:/app
